[Desktop Entry]
Version=1.0
Name=KristaTech 
Comment=KristaTech P2P Cryptocurrency
Comment[fr]=KristaTech, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KristaTech, eşten eşe kriptografik sanal para birimi
Exec=kristatech-qt %u
Terminal=false
Type=Application
Icon=kristatech128
MimeType=x-scheme-handler/kristatech;
Categories=Office;Finance;
StartupWMClass=kristatech-qt
